<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rnamplifyliveness">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".AmplifyLivenessActivity"
            android:exported="false" />
    </application>
</manifest>
